.head_wrapper {
  margin: 0 auto;
}

.locked_wrapper {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #F48FB2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.locked_wrapper+p {
  text-align: center;
  font-size: 22px;
  margin: 12px 0 0 0;
}