.input {
  color: #999999;
  background-color: transparent;
  border: solid 1px #494949;
  border-radius: 5px;
  height: 55px;
  padding-left: 10px;
  width: 100%;
  /* margin-bottom: 20px; */
  font-weight: bold;
  font-size: 15px;
}

.correct {
  border: solid 1px green;
}

.incorrect {
  border: solid 1px red;
}
