.login_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input {
  color: #999999;
  background-color: transparent;
  border: solid 1px #494949;
  border-radius: 5px;
  height: 55px;
  padding-left: 10px;
  width: 100%;
  /* margin-bottom: 20px; */
  font-weight: bold;
  font-size: 15px;
}

.check_box_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}

.text_for_checkbox {
  margin-left: 10px;
  font-size: .95rem;
  letter-spacing: 1px;
  line-height: 20px;
}